@font-face {
  font-family: 'Sen';
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
  src: url(/fonts/Sen-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Sen';
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
  src: url(/fonts/Sen-Regular.woff2) format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full w-full font-sans text-gray motion-safe:scroll-smooth;
  }
  body {
    @apply h-full w-full font-sans text-gray motion-safe:scroll-smooth;
  }
  h1 {
    @apply m-0 text-4xl font-semibold text-primary md:text-5xl;
  }
  h2 {
    @apply m-0 text-3xl font-semibold text-primary md:text-4xl;
  }
  h3 {
    @apply m-0 text-2xl font-semibold text-primary md:text-3xl;
  }
  h4 {
    @apply m-0 text-xl font-semibold;
  }
  h5 {
    @apply m-0 text-xl font-semibold;
  }
  h6 {
    @apply m-0 text-xl font-semibold;
  }
  a {
    @apply font-semibold no-underline;
  }
  p {
    @apply text-base text-gray;
  }
  ul {
    @apply my-4 ml-[1em] max-w-md list-outside list-disc space-y-1 text-gray marker:text-secondary;
  }
  ol {
    @apply my-4 ml-[1em] max-w-md list-outside list-decimal space-y-1 text-gray;
  }
  li {
    @apply pl-[0.5em];
  }
  blockquote {
    @apply text-lg font-semibold italic tracking-wide text-gray;
  }
  strong {
    @apply font-semibold;
  }
  b {
    @apply font-semibold;
  }
}

@layer components {
  .content-wrapper {
    @apply mx-auto max-w-[1200px] px-4 md:px-8;
  }

  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='12'/%3E%3Cpath d='m7 13 3 3 7-7' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .wrap-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  /** Images Section **/
  .images-wrapper:first-of-type > span > img {
    @apply rounded-lg;
  }
  .images-wrapper:last-of-type > span > img {
    @apply rounded-lg;
  }

  /** SelectableOption, QuestionnaireTile **/
  .icon svg,
  .icon svg path,
  .icon svg polygon,
  .icon svg circle,
  .icon svg line,
  .icon svg polyline,
  .icon svg rect,
  .icon svg ellipse {
    fill: var(--color-primary) !important;
  }
  .icon[data-selected='true'] svg,
  .icon[data-selected='true'] svg path,
  .icon[data-selected='true'] svg polygon,
  .icon[data-selected='true'] svg circle,
  .icon[data-selected='true'] svg line,
  .icon[data-selected='true'] svg polyline,
  .icon[data-selected='true'] svg rect,
  .icon[data-selected='true'] svg ellipse {
    fill: white !important;
  }
  .icon:active svg,
  .icon:active svg path,
  .icon:active svg polygon,
  .icon:active svg circle,
  .icon:active svg line,
  .icon:active svg polyline,
  .icon:active svg rect,
  .icon:active svg ellipse {
    fill: white !important;
  }
  .group:hover .icon svg,
  .group:hover .icon svg path,
  .group:hover .icon svg polygon,
  .group:hover .icon svg circle,
  .group:hover .icon svg line,
  .group:hover .icon svg polyline,
  .group:hover .icon svg rect,
  .group:hover .icon svg ellipse {
    fill: white !important;
    stroke: white !important;
  }

  /** Used for Logo **/
  .colorless-filter {
    filter: brightness(0) invert(1);
  }

  /** Used for Button hover and loading effect **/
  .shining-button {
    position: relative;
    overflow: hidden;
  }
  .shining-button::after {
    background: #fff;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 15;
  }
  .shining-button:hover::after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .shimmer {
    position: relative;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 1000px 640px;
    background: linear-gradient(to right, #f2f2f2 8%, #f8f8f8 38%, #f2f2f2 54%);
  }
  @keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border-top-color: white;
    opacity: 0;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    width: 24px;
    height: 24px;
    transition: opacity 100ms;
    animation: rotate-spinner 1s linear;
    animation-iteration-count: infinite;
  }
  @keyframes rotate-spinner {
    100% {
      transform: rotate(360deg);
    }
  }

  /** Used for long form text content and articles **/
  .article p {
    @apply my-4 text-base leading-relaxed;
  }
  .article h1 {
    @apply mt-16 mb-4;
  }
  .article h2,
  .article h3 {
    @apply mt-12 mb-4;
  }
  .article h4,
  .article h5 {
    @apply mt-8 mb-4;
  }
}

#__next {
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

/** Video Player in Video.tsx */
.react-player__preview::before {
  content: '';
  position: absolute;
  z-index: 13;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: brightness(20%);
  background-color: black;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  position: absolute;
  top: calc(50% - 32px);
  backdrop-filter: blur(0.5rem);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 64px;
  z-index: 15;
  cursor: pointer;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--color-secondary);
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  content: '';
  background-color: var(--color-tertiary);
  height: 48px;
  width: 48px;
}

.swiper .swiper-button-prev {
  left: -10px;
}
.swiper .swiper-button-prev:after {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M14.91 6.71c-.39-.39-1.02-.39-1.41 0L8.91 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L11.03 12l3.88-3.88c.38-.39.38-1.03 0-1.41z'/%3E%3C/svg%3E");
}

.swiper .swiper-button-next {
  right: -10px;
}
.swiper .swiper-button-next:after {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9.31 6.71c-.39.39-.39 1.02 0 1.41L13.19 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.72 6.7c-.38-.38-1.02-.38-1.41.01z'/%3E%3C/svg%3E");
}
