option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:eu-central-1:365257514961:certificate/e3bea361-7c0f-4bf8-badf-360763694c3a"
Resources:
  AddingSSLCert2:
    Type: "AWS::ElasticLoadBalancingV2::ListenerCertificate"
    Properties:
      ListenerArn:
        Ref : "AWSEBV2LoadBalancerListener443"
      Certificates:
        - CertificateArn: "arn:aws:acm:eu-central-1:365257514961:certificate/58cb904a-97c7-4120-a739-e8172101f4ac"
