@font-face {
  font-family: 'Overpass';
  font-weight: 100 900;
  font-display: fallback;
  font-style: normal;
  src: url(/fonts/Overpass-VariableFont.ttf) format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl lg:text-4xl font-semibold mb-4 mt-8;
  }
  h2 {
    @apply text-2xl lg:text-3xl font-semibold mb-2 mt-8;
  }
  h3 {
    @apply text-xl lg:text-2xl font-semibold mb-2 mt-8;
  }
}

@layer components {
  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='12'/%3E%3Cpath d='m7 13 3 3 7-7' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Overpass';

  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

#__next {
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top-color: white;
  opacity: 0;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: 24px;
  height: 24px;
  transition: opacity 100ms;
  animation: rotate-spinner 1s linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}

.shimmer {
  position: relative;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 1000px 640px;
  background: linear-gradient(to right, #f2f2f2 8%, #f8f8f8 38%, #f2f2f2 54%);
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.wrap-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
