name: Deploy/Staging/Frontend

on:
  push:
    branches: ["dev"]
    paths: ["apps/frontend/**"]

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: "yarn"

      - name: Install
        run: yarn

      - name: Build
        working-directory: ./apps/frontend
        run: yarn build

      - name: Test (Unit)
        working-directory: ./apps/frontend
        run: yarn test

      - name: Test (E2E)
        working-directory: ./apps/frontend
        run: yarn test:e2e:run
